.ca_horario {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.ca_iconoTiempo {
  width: 90%;
  height: auto;
}

.ca_espaceIcon {
  margin-left: 1em;
  margin-top: 10px;
}