.header {
    background-color: red;
    padding: 1em 0;
    display: flex;
}

.ca_logo {
    flex: 70%;
    background-color: green;
}

.ca_nombre-hora {
    flex: 30%;
    background-color: grey;
    align-items: center;
    background-color: green;
}

#logoSismo {
    width: 20%;
    height: auto;
    margin-left: 1em;
}