.header {
    background-color: #ffffff;
    padding: 1em 0;
    display: flex;
}

.ca_logo {
    flex: 70%;
}

.ca_nombre-hora {
    flex: 30%;
    align-items: center;
}

#logoSismo {
    width: 20%;
    height: auto;
    margin-left: 1em;
}