.header {
    background-color: #ffffff;
    padding: 1em 0;
    display: flex;
    margin-bottom: 9px;
    box-shadow: 0 -2px 15px 15px #d7d7d7;
}

.ca_logo {
    flex: 70%;
}

.ca_nombre-hora {
    flex: 30%;
    align-items: center;
}

#logoSismo {
    width: 20%;
    height: auto;
    margin-left: 1em;
}

@media (max-width: 480px) {
 
    .header {
        justify-content: center;
        align-items: center;
    }

    #logoSismo {
        width: 55%;
    }
}